# exportPattern("^[^\\.]")
export(DensDotPlot)
export(MergeCoveragePlot)
export(GetTyphoonPlotMat)
export(MakeGeneSchematic)
export(SetChromatinSchematic)
export(MakeTyphoonPlotAxes)
export(GetMNaseFeatureDensity)
export(GetDensityPeaks)
export(PlotNucleosome)
export(PlotNucleosomeModel)
export(ConvertPairedReadBAMToGR)
export(MakeIndividualTyphoonPlot)
# importFrom(gplots, colorpanel)
